{
  "presets": ["@babel/env", "@babel/typescript"],
  "plugins": [
    "@babel/transform-typescript",
    "@babel/proposal-class-properties",
    "@babel/transform-async-to-generator"
  ],
  "comments": false
}
